body
{
	background-color: black;
}
h1 {
	color: whitesmoke;
    font-family: 'Press Start 2P', cursive; /* применяем шрифт */
    font-size: 32px; /* размер шрифта */
    margin: 0; /*отступы убираем*/
    text-align: center;
	 text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue;
	}



/*@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue;
  }
  
  to {
    text-shadow: 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue, 0 0 80px blue;
  }
}
*/

p
{
	color: white;
    font-family: 'Press Start 2P', cursive; /* применяем шрифт */
    font-size: 16px; /* размер шрифта */
   /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  	-moz-animation: glow 1s ease-in-out infinite alternate;
  	animation: glow 1s ease-in-out infinite alternate;
  	*/
  	text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue;
}

button
{
  border: none;
  color: white;
  background-color: blue;
	font-family: 'Press Start 2P', cursive;
  text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue;
}

p1
{
    color: white;
    font-family: 'Press Start 2P', cursive; /* применяем шрифт */
    font-size: 16px; /* размер шрифта */
    text-align: center;
  text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue;
}

div
{
  border: solid;
  float: left;
}
